.timeline-item .content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.timeline-item .content:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.timeline-item .content.important {
    border-left: 5px solid #FF5733;
}

.timeline-item h4 {
    margin-top: 0;
    color: #0071bc;
}